body {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Copperplate", fantasy;
    font-size: 25px;
    background: rgb(45, 43, 43);
    color: rgb(80, 139, 242);
    padding: 15px;
}

#header {
    text-align: center;
    background-color: rgb(80, 78, 78);
    padding: 0.5em;
    text-shadow: 1px 1px 1px white, 2px 2px 15px rgb(47, 43, 47);
    border: 2px solid white;
    border-radius: 10px;
}

#top-list{
    background-color: rgb(80, 78, 78);
    align-items: center;
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    border: 2px solid white;
    border-radius: 10px;
}

#img-list{
    background-color: rgb(80, 78, 78);
    align-items: center;
    height: 30vh;
    padding-left: 40px;

}

#name {
    text-decoration-line: underline;
    text-underline-offset: 8px;
    font-style: italic;
}

#poster {
    text-align: center;
    border: 10px solid rgb(80, 78, 78);
    border-radius: 10px;
    padding: 20px;
}

.new-poster {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#video {
    padding: 30px;
}

#audio {
    padding: 30px
}

input {
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 75px;
}