body {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Copperplate", fantasy;
    font-size: 25px;
    background: rgb(45, 43, 43);
    color: rgb(80, 139, 242);
    padding: 15px;
}

#header {
    /* text-align: center; */
    background-color: rgb(80, 78, 78);
    border: 2px solid white;
    border-radius: 10px;
    
}

#header-img{
    margin-top: 20px;
    margin-bottom: -50px ;
    display:inline-flex;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.644);
}

#top-list{
    background-color: rgb(80, 78, 78);
    align-items: center;
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    border: 2px solid white;
    border-radius: 10px;
}

#img-list{
    background-color: rgb(80, 78, 78);
    align-items: center;
    height: 30vh;
    padding-left: 40px;

}

#poster {
    text-align: center;
    border: 10px solid rgb(80, 78, 78);
    border-radius: 10px;
    padding: 20px;
}

.new-poster {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#name, #year, #character, #quote {
    background-image: linear-gradient(to top, blueviolet 0%, lightblue 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#video {
    padding: 30px;
}

#audio {
    padding: 30px
}

input {
    margin: auto;
}

#form-wrapper {
    border: 5px solid rgb(80, 78, 78);
    color: white;
    text-shadow: 1px 1px 1px black, 2px 2px 10px black;
    border-radius: 10px;
    height: 270px;
    width: 600px;
    margin:auto;
    margin-bottom: 40px;
    background-color: rgb(57, 102, 139);
}

#quiz {
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: rgb(29, 59, 83);
    border: 5px solid white;
    border-radius: 10px;
    height: 200px;
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  
  #guess {
    width:50px;
    margin: 10px;
    
  }
  
  #btn {
    margin: 25px auto auto 5px;
  }

  .gif {
      float: left;
      margin-left: 10px;
      margin-top: 30px;
  }

  #vote-res{
      color:rgb(182, 63, 34)
  }

  #title-wilson{
      padding-bottom: 10px;
  }

  #footer {
      background-color: rgb(45, 43, 43);
      padding: 20px 0 0 20px;
      border-top: 2px solid rgba(255, 255, 255, 0.288);
  }